body {
  background-color: #fff7ed !important;
}

.nav {
  background: #fff7ed !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.nav-brand {
  font-size: large;
  font-weight: bold;
  color: #161616;
  text-decoration: none;
  padding-left: 10px;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  list-style-type: none;
  margin: 0;
  /* padding: 10px; */
}

.nav-ul--link {
  transition: all 0.3s ease 0s;
  color: #161616;
  text-decoration: none;
  padding: 10px;
}

.nav-ul--link:hover {
  color: #e17654;
}

.nav-ul--link:focus {
  color: #e17654;
  color: #161616;
  text-decoration: underline;
}

.main {
  width: 100%;
  /* min-width: 3000; */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.main-title {
  padding: 10px;
  margin-bottom: 20px;
}
.main-text {
  padding: 10px;
  margin-bottom: 20px;
}

.main-button {
  background-color: antiquewhite !important;
  color: #161616 !important;
  border-color: antiquewhite !important;
  margin-bottom: 20px;
}

.home-button {
  background-color: #ff8c38 !important;
  /* background-color: #161616 !important; */
  /* border-color: #161616 !important; */
}

.footer {
  position: fixed;
  background-color: black;
  color: antiquewhite;
  height: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: small;
}

.about-main {
  padding: 20px;
}

.about-title {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.about-img {
  width: 100%;
}

.about-text {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.about-card {
  background-color: #ffcc8d !important;
  margin: 20px;
}

.about-button {
  background-color: #161616 !important;
  border-color: #161616 !important;
}

.gamesList {
  margin-bottom: 10px;
}

.games-list--filter {
  margin-bottom: 10px;
}

.games-list--filter--item--sports {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #161616 !important;
  background: #ffead0 !important;
  border-color: #ffead0 !important;
}
.games-list--filter--item--action {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #161616 !important;
  background: #ffead0 !important;
  border-color: #ffead0 !important;
}
.games-list--filter--item--classic {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #161616 !important;
  background: #ffead0 !important;
  border-color: #ffead0 !important;
}

.games-list--filter--item--classic--selected {
  margin-left: 10px;
  margin-right: 10px;
  color: #161616;
  text-decoration: underline;
  background-color: black !important;
  border-color: black !important;
  color: #fff7ed !important;
}
.games-list--filter--item--action--selected {
  margin-left: 10px;
  margin-right: 10px;
  color: #161616;
  text-decoration: underline;
  background-color: #e17654 !important;
  border-color: #e17654 !important;
  color: #fff7ed !important;
}
.games-list--filter--item--sports--selected {
  margin-left: 10px;
  margin-right: 10px;
  color: #161616;
  text-decoration: underline;
  background-color: #115e59 !important;
  border-color: #115e59 !important;
  color: #fff7ed !important;
}

.game-list--filter-clear {
  /* font-family: Inter; */
  color: #161616 !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.gamesList-title {
  padding: 20px;
}

.game-list-col {
  padding: 0px !important;
}

.card-item {
  width: 8rem;
  margin: 10px;
  padding: 0px;
  border-color: #fff7ed !important;
}

.card-item-body {
  width: 10rem;
  padding: 0px !important;
  background-color: #fff7ed !important;
}

.card-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #e17654;
  color: #fff7ed;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  margin-bottom: 20px !important;
}

.card-item:hover {
  color: #115e59;
}

.detail-container {
  padding: 20px;
}

.detail-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100% !important;
}

.detail-container-desktop {
  margin: 20px;
  display: grid;
  grid-template-columns: 400px auto;
  justify-items: left;
}

.detail-img-desktop {
  width: 400px;
  margin-top: 10px;
}

.detail-info {
  padding: 10px;
  margin-top: 20px;
}

.host-nav-ul {
  display: flex;
  /* justify-content: left; */
  /* align-items: left; */
  list-style-type: none;
  margin: 0;
  padding: 20px 10%;
  padding-left: 10px;
  padding-top: 0px !important;
}

.host-nsv-ul--link {
  transition: all 0.3s ease 0s;
  color: #161616;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
}

.host-nsv-ul--link:hover {
  color: #e17654;
}

.host-nsv-ul--link--focus {
  color: #161616;
  text-decoration: underline;
  /* font-weight: bold; */
  /* padding-right: 30px;
  padding-left: 20px; */
  /* font-size: large; */
}

.host-games--container {
  margin: 10px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.host-games--card-container {
  width: 300px;
  /* height: 10%; */
  background: white;
  display: grid;
  grid-template-columns: 20% 80%;
  /* margin: 20px; */
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
}

.host-games--img {
  /* width: 100%; */
  width: 100%;
  margin-top: 15px;
  /* height: 90%; */
}

.host-games--body {
  padding: 10px;
}

.host-games--details-container {
  width: 100%;
  background: white;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 50% 5;
  /* margin: 20px; */
  padding: 10px;
}

.notfound {
  margin: 20px;
}

.notfound-btn {
  margin-top: 10px;
  background: #161616 !important;
  border-color: #161616 !important;
}

.login--container {
  margin: 30px;
}

.login--form--button--container {
  display: flex;
  justify-content: center;
}

.login--form--button {
  background: #e17654 !important;
  border-color: #e17654 !important;
  width: 100%;
  margin-top: 20px;
}

.login--form--header--container {
  display: flex;
  justify-content: center;
}

.login-icon {
  width: 20px;
  margin-left: 5px;
}

.logout--button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.host-games--add-game-dev {
  display: flex;
  justify-content: center;
}

.host-games--add-game-btn {
  background: #ff8c38 !important;
  border-color: #ff8c38 !important;
  margin-bottom: 20px;
}

.add-game-form--container {
  margin: 20px;
}

.host--income-container {
  margin: 20px;
}

.host--income-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 30px;
}

.host--income-income {
  font-size: 48px;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
}

.host--income--transaction-card {
  background-color: white;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 1fr;
  margin-top: 10px;
}

.host--review-container {
  margin-top: 20px;
}

.host-dashbored--income {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: #ffead0;
}

.host-dashbored--income--details-container {
  display: flex;
  align-items: center;
  justify-content: right;
}

.host-dashbored--income--details-text {
  text-decoration: none;
  color: #161616;
}

.host-dashbored--review--container {
  background: #ffddb2;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.host-dashboard--listed-games-container {
  padding: 20px;
}

.host-dashboard--listed-games-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.host-dashboard--listed-games {
  margin: 10px;
}

.host--dashboard--listed-games--card {
  background: white;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 80px 2fr 1fr;
}

.host--dashboard--listed-games--card--img {
  margin: 10px;
}

.host--dashboard--listed-games--card--info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 20px;
}

.host--dashboard--listed-games--card--detail {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 20px;
}
